{% extends "base_logged_in.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                            <span class="text-muted">Game: {{ game_id }} </span>
                            <span class="game-over"></span>
                            
                            <span style="float: right;">{{ w_username }} vs {{ b_username }}</span>
                        </div>
                        <div class="card-body">
                            <div id="board"></div>
                            <div class="card-footer">
                                <!-- <span class="text-muted">White: </span> -->
                                <span class="game-over"></span>
                                <span id="status" class="text-muted" style="float: right;"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <div class="card-header">
                        
                        </div>
                        <div class="card-body" id="game-moves">
                            <div class="form-group">
                                {% with history = get_flashed_messages() %}
                                    {% if history %}
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div> 
    
    <!-- Подключаемся к chessboard.js (https://github.com/omega-coder/flask-chess-platform/tree/master) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chessboard-0.3.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Подключение JavaScript для шахмат -->
    <!-- <script src="{{ url_for('static', filename='js/chess.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    
{% endblock %}