{% extends "base_logged_in.html" %}

{% block content %}
    <h1 class="text-center mb-4">Waiting opponent</h1>

    <div class="text-center mt-3">
        <p>New game was created with id: {{ game_id }}</p>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script>
        setInterval(function() {
            $.post('/wait', function(data) { 
                // console.log(data)
                if (data.update) {
                     window.location.href = "/game?game_id=" + data.game_id;
                }
            })
        }, 1000); // 1 seconds
    </script>
{% endblock %}